[mysqld]
pid-file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock
datadir          = /var/lib/mysql
log-error        = /var/log/mysql/error.log
bind-address     = 0.0.0.0
secure-file-priv = NULL
max_connections  = 16384

character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci
init_connect         ='SET NAMES utf8mb4'
skip-name-resolve

server_id = 1                       # ID，不要重复
log-bin = mysql-bin                 # 开启 bin log
binlog-do-db = db_order_1           # 开启 bin log 的数据库名，如果有多个，重复设置就行
binlog-do-db = db_order_2           # 开启 bin log 的数据库名，如果有多个，重复设置就行
binlog-do-db = db_user              # 开启 bin log 的数据库名，如果有多个，重复设置就行
log-slave-updates                   # 将从服务器从主服务器收到的更新记入到从服务器自己的二进制日志文件中
sync_binlog = 1                     # 控制 bin log 写入频率
auto_increment_offset = 1           # 自增 offset，主主同步时用到
auto_increment_increment = 1        # 自增间隔，同样主主同步时使用
expire_logs_days = 7                # bin 留存天数
log_bin_trust_function_creators = 1 # 复制定义的函数


# Custom config should go here
!includedir /etc/mysql/conf.d/
